@mixin bigtablet {
  @media only screen and (max-width: 994px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 834px) {
    @content;
  }
}
@mixin phone {
  @media only screen and (max-width: 480px) {
    @content;
  }
}
* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  body {
    background-color: #212121;
    color: snow;

    .banner {
      display: block;
      height: 13rem;
      margin: 1rem auto;
      border-radius: 2rem;
    }

    .searchTypes {
      margin: 2rem auto;
      width: 80%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem 1rem;

      @include tablet() {
        grid-template-columns: repeat(2, 1fr);
      }
      @include phone() {
        grid-template-columns: repeat(1, 1fr);
      }

      .item {
        height: 22rem;
        padding: 1rem;
        border-radius: 0.3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .cards {
      margin: 0 auto;
      width: 95%;
      display: grid;
      justify-items: center;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      @include bigtablet() {
        grid-template-columns: repeat(3, 1fr);
      }
      @include tablet() {
        grid-template-columns: repeat(2, 1fr);
      }
      @include phone() {
        grid-template-columns: repeat(1, 1fr);
      }
      .card {
        background-color: #383434;
        img {
          width: 100%;
          height: 12rem;
        }
        .text {
          height: 16rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: gray;
          padding: 1rem;
          p {
            font-size: 0.9rem;
          }
          .top {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
          .title {
            color: rgb(168, 167, 167);
          }
          .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
          }
        }
      }
    }
  }
}
